<style type="text/css">
  .email-digest{
  }
  .digest-date{
    color: #999;
    font-weight: normal;
    font-size: 16px;
  }
  .post-item{
    border-top: 1px solid #ddd;
  }
  .post-date{
    font-size: 13px;
    color: #999;
  }
  .post-title{
    font-size: 18px;
    line-height: 1.6;
  }
  .post-thumbnail{
    float: right;
    height: 86px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 26px;
    width: 86px;
  }
  .post-meta{
    font-size: 13px;
    color: #999;
    margin: 5px 0;
  }
  .post-meta a{
    color: #333;
  }  
  .post-domain{
    font-weight: bold;
  }
  .post-body-excerpt{
    font-size: 14px;
  }
  .post-body-excerpt p{
    margin: 0;
  }
    .blueUzful{
        color: #00B1E6;
    }
    
    
</style>

<span class="heading">{{siteName}} (édition {{category}}) </span>
<span class="digest-date">– {{date}}</span>
<br><br>

<div class="email-digest">
  {{{content}}}
</div>
<br>