<div class="post-item">
<br >

<span class="post-title">
  

  <a href="{{postLink}}" class="blueUzful" target="_blank">{{title}}</a>
</span>

<div class="post-meta">
  {{#if domain}}
    <a class="post-domain" href="">{{domain}}</a>
    | 
  {{/if}}
  
 <!-- <span class="post-submitted">
    {{#if profileUrl}}
      Submitted by <a href="{{profileUrl}}" class="comment-link" target="_blank">{{authorName}}</a>
    {{else}}
      Submitted by {{authorName}}
    {{/if}}
  </span>-->

  <span class="post-date">on {{date}}</span>
 <!-- |
  <a href="{{postPageLink}}" class="comment-link" target="_blank">{{commentCount}} Comments</a>-->
</div>

{{#if thumbnailUrl}} 
    <img class="post-thumbnail" src="http:{{thumbnailUrl}}"/>&nbsp;
  {{/if}}
{{#if body}}
  <div class="post-body-excerpt">
    {{{htmlBody}}}
    <a class="blueUzful" href="http://veille-uzful.mod.bz{{postPageLink}}" class="comment-link" target="_blank">Lire</a>
  </div>
{{/if}}


<br>
</div>

