// @import "partials/grid";
// @import "partials/colors";
// @import "partials/typography";
// @import "global/links";
// @import "global/forms";
// @import "modules/accounts";
// @import "modules/banners";
// @import "modules/comments";
// @import "modules/dialogs";
// @import "modules/errors";
// @import "modules/layout";
// @import "modules/nav";
// @import "modules/posts";
// @import "modules/user-profile";
//Color
$background: rgb(239, 234, 232);
$backgroundHeader: #49D4FF;
$backgroundNewsletter: rgb(182,
238,
255);
$colorTitle: #444444;
$colorDomain: #cccccc;
$sizeWrapper: 600px;
$blueUzful: #00B1E6;

//Fonts
@font-face {
    font-family: 'icomoon';
    src: url('/packages/telescope-theme-uzful/public/fonts/icomoon.eot?y3t75m');
    src: url('/packages/telescope-theme-uzful/public/fonts/icomoon.eot?#iefixy3t75m') format('embedded-opentype'), url('/packages/telescope-theme-uzful/public/fonts/icomoon.ttf?y3t75m') format('truetype'), url('/packages/telescope-theme-uzful/public/fonts/icomoon.woff?y3t75m') format('woff'), url('/packages/telescope-theme-uzful/public/fonts/icomoon.svg?y3t75m#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/packages/telescope-theme-uzful/public/fonts/SourceSans/opensans.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Boton';
    src: url('/packages/telescope-theme-uzful/public/fonts/Boton/BotonCFFLig.eot');
    src: url('/packages/telescope-theme-uzful/public/fonts/Boton/BotonCFFLig.otf') format('truetype'), url('/packages/telescope-theme-uzful/public/fonts/Boton/BotonCFFLig.woff') format('woff'), url('/packages/telescope-theme-uzful/public/fonts/Boton/BotonCFFLig.eot?#iefix') format('embedded-opentype'), url('/packages/telescope-theme-uzful/public/fonts/Boton/BotonCFFLig.svg#BotonCFFLig') format('svg');
    font-weight: normal;
    font-style: normal;
}

$fontTitle: 'Gentium Book Basic';
$fontText: Merriweather;
body {
    background: $background;
}

.inner-wrapper {
    width: $sizeWrapper;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
p,
pre,
div {
    font-family: $fontTitle;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $fontText, serif;
    font-weight: 700;    
}

.opacity {
    opacity: 0.7;
}

.noPost {
	padding: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}    

.showSection:not(:last-child) {
    border-bottom: 1px solid #e7eff2;/*1px solid rgba(0, 0, 0, 0.28);*/ 
    margin-bottom: 10px;
}

//Header
.header {
    background-color: $backgroundHeader;
    margin-bottom: 0!important;
    
    & .primary-nav{
        width: 89%;
        //Search bar
        & .search {
            float: right!important;
        }

        & .categories-menu{
            float: left!important;
        }
    }
    
    
    & .logo {
        position: relative!important;
        float: left;
    }
    .menu.categories-menu {
        margin-left: 12px;
    }
}

//Container
.content-wrapper {
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    .postsListTop, .grid {
        padding: 0 60px 0 60px;
    }
    .category-title{
        color: #999999;
        font: 1.71429em Boton;
        text-transform: uppercase;
    }
    /*.posts-wrapper{
        padding: 0 60px 0 60px;
    }*/
    
    .admin-wrapper {
        padding: 0;
    }
   & .date-block{
    margin-bottom: 45px!important;
    }
    .grid-block {
        position: relative;
        border-radius: 0;
        margin-bottom: 0;
        box-shadow: none;
        
        //Icons
        [class^="icon-"], [class*=" icon-"] {
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            display: inline-block;
            font-size: 1.142857143em;

            /* Better Font Rendering =========== */
            
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        i.icon-chevron-right {
          margin-left: 2px;
        }
        i.icon-chevron-left {
          margin-right: 2px;
        }
        .icon-chevron-right:before {
            content: "\e600";
            vertical-align: middle;
            line-height: 1.4;
            line-height: 0.5;
            display: table-cell;
        }
        .icon-chevron-left:before {
            content: "\e601";
            vertical-align: middle;
            line-height: 0.5;
            display: table-cell;
        }
        .prev-link {
            float: left;
        }
        .next-link {
            float: right;
        }
        .date {
            color: #999999;
            font: 600 1.714285714em Boton;
            position: absolute;
            width: 94%;
            margin: 0;
            text-align: center;
            height: 50px;
            line-height: 43px;
        }
        & .prev-link,
        & .next-link {
            color: #79878e;
            font: 400 1em 'Source Sans Pro';
            font-weight: normal;
            position: relative;
            z-index: 1;
            display: block;
            height: 30px;
            margin: 10px 0;
            line-height: 30px;
        }
    }
}

.posts-wrapper {
    .post-rank {
        display: none;
    }
    .post:last-child {
        border-bottom: none;
    }
    /*.post:before {
        content: '';
        background: url(/packages/telescope-theme-uzful/public/img/circle.png) no-repeat;
        height: 50px;
        width: 75px;
    }*/
    
    .post-content {
        .post-title {
            color: $colorTitle;
            font: 400 1.428571429em 'Source Sans Pro';
        }
        .post-domain {
            color: $colorDomain;
            font: 400 1em 'Source Sans Pro';
        }
    }
}

.posts-list-views {
    display: none;
}

.subscribe {
    background-color: $backgroundNewsletter;
    color: #ffffff;
    font: 1.285714286em Boton;
    padding: 20px 60px 20px 60px;
    /*margin-top: -10px;*/
    .banner {
        background-color: $backgroundNewsletter;
        padding: 0;
    }
    .newsletter-tagline{
        font-family: Boton;
        font-size: 1.000003285em;
    }
    form {
        text-align: inherit;
        .newsletter-email {
            width: 50.8333333%;
            height: 31px;
            border-radius: 0;
            font-family: 'Source Sans Pro';
        }
    }
    .newsletter-button {
        background-color: #49D4FF;
        height: 31px;
        width: 17.5%;
        color: #ffffff;
        font: 0.777780333em 'Source Sans Pro';
        border-radius: 0;
        padding: 0;
    }
}

.footer {
    a {
        color: #cccccc;
        font: 400 1em 'Source Sans Pro';
    }
}

.showSection{
    h3{
        color: #999999;
        font: 1.71429em Boton;
    }
}

// Mail
.blueUzful{
    color: $blueUzful;
}