<template name="new_newsletter_banner">
    {{#if showBanner}}
    <div class="newsletter-banner grid-module grid banner">
        <h4 class="newsletter-tagline"><!--{{_ "receive_the_best_of"}}-->Recevoir la sélection par mail</h4>
        <form>
            {{#if isNotConnected}}
            <input class="newsletter-email" type="email" placeholder="Your email"> {{/if}}
            <button class="button newsletter-button btn btn-primary">
                <!--{{_ "get_newsletter"}}-->S'inscrire<span class="button-loader"><img src="/img/loading-balls.svg"/></span>
            </button>
        </form>
        <h4 class="newsletter-subscribed">{{_ "thanks_for_subscribing"}}</h4>
    </div>
    {{/if}}
</template>