 <template name="new_nav">
  <header class="header {{headerClass}}">

    {{> logo}}

    {{#if hasPrimaryNav}}
     {{#if isLoggedIn}}
     {{else}}
      <div class="nav primary-nav desktop-nav header-module desktop-only">
        {{> modules "primaryNewNav"}}
      </div>
      {{/if}}
    {{/if}}
  {{#if hasSecondaryNav}}
     {{#if isLoggedIn}}
      <div class="nav secondary-nav desktop-nav header-module desktop-only">
        {{> modules "secondaryNav"}}
      </div>
    {{/if}}
    {{/if}}

  </header>
</template>

<template name="update_menuComponent">
    <!--NOTHING :)-->
</template>


<template name="new_logo">
  {{#if logoUrl}}
    <h1 class="logo logo-image header-module">
      <a href="/">
        <img src="{{logoUrl}}" alt="{{getSetting "title" "Telescope"}}"/>
      </a>
    </h1>
  {{else}}
    <h1 class="logo header-module">{{getSetting "title" "Telescope"}}</h1>
  {{/if}}
</template>

<template name="pages_new_menu">
  {{#if hasPages}}
      {{#each pages}}
        <a href="{{pathFor route='page'}}">{{title}}</a> |
      {{/each}}
  {{/if}}
</template>


<template name="new_search">
  {{#if canSearch}}

    <div class="search {{searchQueryEmpty}} header-submodule">
      <input id="search" type="search" class="search-field" placeholder="{{_ 'search'}}" value="{{searchQuery}}">
    </div>

  {{/if}}
</template>