<!--Add footer and move newsletter-->


<template name="new_layout">
    {{> css}}
    <div class="outer-wrapper {{currentPage}} {{navLayout}}">
        {{> mobile_nav}}
        <div class="inner-wrapper template-{{pageName}}">
            {{> nav}}
            <div class="content-wrapper">
                {{> messages}} {{> yield "adminMenu"}}
                <div class="postsListTop">
                    {{> yield "postsListTop"}}
                </div>
                {{> yield}} {{> footer}}
            </div>
            <div class="subscribe">
                {{> modules "hero"}}
            </div>
            <div class="footer">
                {{#if isLoggedIn}}
                <a class="account-link sign-out" href="/sign-out">{{_ "sign_out"}} |</a> {{else}}
                <a class="account-link sign-up" href="{{pathFor route='atSignIn'}}">{{_ "sign_in"}} |</a> {{/if}} {{> modules "primaryFooter"}}<a href="http://www.uzful.fr/">Uzful.fr</a>
            </div>
            <div class="overlay hidden"></div>
        </div>
        {{{extraCode}}}
    </div>
</template>


<template name="update_user_menu">
    {{#if isLoggedIn}} {{> menuComponent menuName="user" menuLabel=menuLabel menuItems=menuItems menuClass="header-submodule" menuMode=menuMode menuCollapsed=true}} {{else}}
    <a class="account-link sign-up" href="{{pathFor route='atSignIn'}}">{{_ "sign_in"}}</a> {{/if}}
</template>


<template name="new_register">
    <div class="at-form">
        <div class="at-title">
            <h3>Entre ton mail !</h3>
        </div>
        <div class="at-pwd-form">
            <form role="form" id="at-pwd-form" novalidate="" action="#" method="POST">
                <div class="at-input">

                    <label for="at-field-email">
                        Email
                    </label>
                    <input type="email" id="at-field-email" name="at-field-email" placeholder="Email" autocapitalize="none" autocorrect="off">
                </div>

                <button type="submit" class="at-btn submit" id="at-btn">
                    Envoyer
                </button>
            </form>
        </div>
        <div class="at-signin-link">
            <p>
                Si vous avez déjà un compte
                <a href="/sign-in" id="at-signIn" class="at-link at-signin">se connecter</a>
            </p>
        </div>
    </div>
<!--    <h1>Entre ton mail !</h1>
    <input type="mail" placeholder="mail@gmail.com">
    <button id="send" type="submit">Envooyer</button>-->
</template>

<template name="registerUser">
   {{> atForm state='signUp'}}
</template>