<template name="single_week_nav">
  <div class="grid">
    <div class="grid-block date-block">
    
    <a href="{{previousDateURL}}" class="prev-link">
    <i class="icon-chevron-left"></i>
    <span>{{previousDate}}</span></a>
    
    <h3 class="date">{{currentDate}}</h3>
    
    {{#if nextDateURL}}
        <a href="{{nextDateURL}}" class="next-link">
        <span>{{nextDate}}</span>
        <i class="icon-chevron-right"></i>
        </a>
    {{/if}}
    </div>
  </div>
</template>
