<template name="newPostsList">
    <div class="posts-wrapper grid grid-module">
        <div class="posts list {{postsLayout}}" aria-live="polite">
            {{#if isLoggedIn}}
                {{#if test}}
                    <div class="showSection sectionApproved">
                        <h3>Approuvés</h3>
                        {{#each postsCursor}}
                           {{#if showApprove}}
                                {{> before_post_item}} 
                                {{> post_item}} 
                                {{> after_post_item}}
                            {{/if}}
                            
                            {{ifCheck 'sectionApproved'}}
                        {{/each}}    
                    </div>
                    <div class="showSection sectionPending">
                        <h3>En attente</h3>
                        {{#each postsCursor}}
                           {{#if showUnapprove}}
                                {{> before_post_item}} 
                                {{> post_item}} 
                                {{> after_post_item}}
                            {{/if}}
                            
                            {{ifCheck 'sectionPending'}}
                        {{/each}}    
                    </div>   
                   <div class="showSection sectionRejected">
                        <h3>Rejeter</h3>
                        {{#each postsCursor}}
                           {{#if showRejected}}
                                {{> before_post_item}} 
                                {{> post_item}} 
                                {{> after_post_item}}
                            {{/if}}
                            
                            {{ifCheck 'sectionRejected'}}
                        {{/each}}
                    </div>
                {{/if}}
            {{else}}
             {{#each topPosts}} 
                 {{> before_post_item}} 
                 {{> post_item}} 
                 {{> after_post_item}} 
             {{/each}}
            {{/if}}
        </div>
        {{> postsLoadMore}}
    </div>
</template>


<template name="new_post_avatars">
    {{#if isLoggedIn}}
    <div aria-hidden="true" aria-live="off">
        <a href="{{getProfileUrl userId}}" class="avatar-link avatar-small author-avatar">
      {{> avatar userId=userId shape="circle"}}
    </a> {{#if commenters}}
        <div class="post-commenters">
            {{#each commenters}}
            <a href="{{getProfileUrl this}}" class="avatar-link avatar-small commenter-avatar">
          {{> avatar userId=this shape="circle"}}
        </a> {{/each}}
        </div>
        {{/if}}
    </div>
    {{/if}}
</template>


<template name="new_post_discuss">
 {{#if isLoggedIn}}
  <a class="discuss-link go-to-comments action" href="/posts/{{_id}}" title="{{_ 'discuss'}}">
    {{{icon "comment"}}}
    <span class="action-count">{{commentCount}}</span>
    <span class="sr-only"> {{_ "comments"}}</span>
  </a>
  {{/if}}
</template>


<template name="newPostsLoadMore">
  {{#if postsReady}}
      <div class="no-posts">Rien d'intéressant cette semaine.</div>
  {{else}}
    <div class="loading-module">{{> spinner}}</div>
  {{/if}}
</template>