 <template name="new_post_item">
  <div class="post {{#if sticky}}sticky{{/if}} {{inactiveClass}} {{postClass}} {{opacity}}" id="{{_id}}">
        {{> modules zone="postComponents" moduleClass="post-module"}}
  </div>
</template>

<template name="update_post_page">
  <!--{{#if isPending}}
    <div class="grid">
      <div class="error pending-message module">
        {{_ "thanks_your_post_is_awaiting_approval"}}
      </div>
    </div>
  {{/if}}-->
  <div class="single-post grid">
    <div class="posts posts-list">
      {{> post_item}}
    </div>
    {{#if body}}
      {{> post_body}}
    {{/if}}
    {{> comment_submit}}
    {{> comment_list}}
  </div>
</template>


<template name="update_post_admin">
  {{#if isAdmin}}
    <div class="post-meta-item" aria-live="off">
       {{#if showApprove}}
        | <a href="#" class="approveAndWait-link goto-edit">{{_ "approve"}}</a>
        | <a href="#" class="rejected-link goto-edit">{{_ "rejected"}}</a>
        {{/if}}
      {{#if showUnapprove}}
        | <a href="#" class="unapprove-link goto-edit">{{_ "pending"}}</a>
        | <a href="#" class="rejected-link goto-edit">{{_ "rejected"}}</a>
        {{/if}}
        {{#if showRejected}}
        | <a href="#" class="approveAndWait-link goto-edit">{{_ "approve"}}</a>
        | <a href="#" class="unapprove-link goto-edit">{{_ "pending"}}</a>
        {{/if}}
      | {{_ "score"}}: {{shortScore}}, {{_ "clicks"}}: {{clickCount}}, {{_ "views"}}: {{viewCount}}
    </div>
  {{/if}}
</template>
