<template name="update_post_content">
       {{> modules "postThumbnail"}}
    <div class="post-info">
        <h3 class="post-heading">
        {{> modules "postHeading"}}
      </h3>
        <div class="small-description">{{descrip}}</div>
        <!--{{#if userconnected}}-->
        <div class="post-meta">
            {{> modules "postMeta"}}
        </div>
        <!--{{/if}}-->
    </div>
</template>


<template name="update_post_info">
  {{#if isLoggedIn}}
  <div class="post-meta-item" aria-live="off">
    <span class="points">{{baseScore}}</span>
    <span class="unit">{{pointsUnitDisplayText}}</span>
    {{#if postedAt}}<span class="post-time">{{timeAgo postedAt}}</span>{{/if}}
    {{#if canEdit this}}
      | <a href="{{pathFor route='post_edit' _id=_id}}" class="edit-link goto-edit">{{_ "edit"}}</a>
    {{/if}}
  </div>
  {{/if}}
</template>


<template name="update_post_comments_link">
 {{#if isLoggedIn}}
  <div class="post-meta-item">
    <a class="comments-link" href="/posts/{{_id}}">
      <span class="comments-count">{{commentCount}}</span>
      <span class="comments-action">{{_ 'comments_'}}</span>
    </a>
  </div>
  {{/if}}
</template>


<template name="update_post_author">
  <a class="post-author" href="{{getProfileUrl userId}}">{{getDisplayName userId}} l'a sélectionné</a>
</template>